 <!-- <dx-text-box mode="number" [(ngModel)]="textstudentcode" [showClearButton]="true" (onValueChanged)="onValueChanged($event)"> -->
<dx-text-box mode="number" [(ngModel)]="tmpstudentcode" [disabled]="disabled" (onValueChanged)="onChanged()">
    <dxi-button
      name="today"
      location="after"
      [options]="searchBtn"
  ></dxi-button>
</dx-text-box>
<!-- <dx-popup
  [(visible)]="showSelector"
  [width]="850"
  [height]="430"
  title="ค้นหานักศึกษา"
  [showTitle]="true"
  (onHiding)="onPopupHiding()"
> -->
<dx-popup
  [(visible)]="showSelector"
  [width]="850"
  [height]="430"
  title="ค้นหานักศึกษา"
  [showTitle]="true"
>
  <div class="row mb-2">
    <div class="col-2">
        รหัสนักศึกษา
        <dx-text-box [(ngModel)]="tmpstudentcode" [showClearButton]="true">
        </dx-text-box>
    </div>
    <div class="col-4">
        ชื่อ
        <dx-text-box [(ngModel)]="studentname" [showClearButton]="true">
        </dx-text-box>
    </div>
    <div class="col-4">
        นามสกุล
        <dx-text-box [(ngModel)]="studentsurname" [showClearButton]="true">
        </dx-text-box>
    </div>
    <!-- <div class="col-2">
      สถานะนักศึกษา
      <dx-select-box [dataSource]="stdstatuslist" displayExpr="comboshow" valueExpr="comboid" [(ngModel)]="studentstatus" [searchEnabled]="true" [showClearButton]="false"></dx-select-box>
    </div> -->
    <div class="col-2">
        <br />
        <dx-button class="button" (onClick)="getstu()" icon="find" type="default" text="ค้นหา" width="100%"></dx-button>
    </div>
  </div>
  <div class="tablelabel">การค้นหาบางส่วนใช้ *</div>
  <dx-data-grid
    [dataSource]="students"
    [hoverStateEnabled]="true"
    [showBorders]="true"
    (onRowDblClick)="onRowDblClick($event)"
    height="250"
  >
    <dxo-paging [pageSize]="0"></dxo-paging>
    <dxo-pager [visible]="true" [showPageSizeSelector]="false" [allowedPageSizes]="[5, 10, 15,0]" [showInfo]="true"> </dxo-pager>

    <dxo-search-panel [visible]="false" [highlightCaseSensitive]="true"></dxo-search-panel>
    <dxi-column dataField="studentcode" caption="รหัสนักศึกษา" [width]="90"></dxi-column>
    <dxi-column dataField="studentname" caption="ชื่อ - นามสกุล" [width]="250"></dxi-column>
    <dxi-column dataField="levelname" caption="ระดับ"></dxi-column>
    <dxi-column dataField="facultyname" caption="สาขาวิชา"></dxi-column>
    <dxi-column dataField="departmentname" caption="ภาค/สาขา"></dxi-column>
    <dxi-column dataField="studentstatusabb" caption="สถานะ" [width]="90"></dxi-column>
  </dx-data-grid>
</dx-popup>
<dx-load-panel #loadPanel shadingColor="rgba(0,0,0,0.4)" [(visible)]="load" [showIndicator]="true" [showPane]="true" [shading]="true" [hideOnOutsideClick]="false"></dx-load-panel>
