<div id="data-grid-demo">
    <dx-data-grid id="prgdivisioncode" [columnAutoWidth]="true" [dataSource]="divisioncodelist" [showBorders]="true" [rowAlternationEnabled]="true" [hoverStateEnabled]="true" (onInitNewRow)="onInsertingstart($event)" (onSaving)="DivisioncodeSave($event)"
        (onToolbarPreparing)="onToolbarPreparing($event)">
        <dxo-paging [pageSize]="15"></dxo-paging>
        <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[10, 15, 20, 0]" [showInfo]="true"> </dxo-pager>
        <dxo-editing mode="row" [allowUpdating]="true" [allowDeleting]="true" [allowAdding]="true" [useIcons]="true">
            <dxo-popup title="Prefix Info" [showTitle]="true" [position]="{ my: 'top', at: 'top', of: 'window' }">
            </dxo-popup>
        </dxo-editing>

        <dxo-search-panel [visible]="true" [width]="240" placeholder="ค้นหา..."></dxo-search-panel>
        <dxo-scrolling columnRenderingMode="virtual"></dxo-scrolling>
        <dxo-selection mode="single"></dxo-selection>

        <dxi-column dataField="divisioncode" caption="*รหัส" sortOrder="asc">
            <dxi-validation-rule type="required" message="กรุณากรอกรหัส"></dxi-validation-rule>
        </dxi-column>
        <dxi-column dataField="divisioncodename" caption="*ชื่อประเภท (ไทย)">
            <dxi-validation-rule type="required" message="กรุณากรอกชื่อประเภท (ไทย)"></dxi-validation-rule>
        </dxi-column>
        <dxi-column dataField="divisioncodenameeng" caption="ชื่อประเภท (อังกฤษ)"></dxi-column>
       
        <div *dxTemplate="let data of 'tableName'">
            <div class="tablelabel">
                <span>ประเภทนักศึกษา</span>
            </div>
        </div>
    </dx-data-grid>
</div>