<div #studentbioentry>
<div class="row">
    <div class="col-5 col-xs-5 col-md-4 col-xl-4 col-lg-4">
        รูปแบบ
        <dx-select-box [dataSource]="comboentryconfiggroup" displayExpr="comboshow" (onValueChanged)="getstoreconfiggroup();" 
        searchMode="StartsWith" valueExpr="comboid" [(ngModel)]="entryconfiggroup" [searchEnabled]="true" [showClearButton]="true">
        </dx-select-box>
    </div>
    <div class="col-1 col-xs-1 col-md-3 col-xl-4 col-lg-4"></div>
    <div class="col-3 col-xs-3 col-md-2 col-xl-2 col-lg-2">
        รหัสนักศึกษา
        <dx-text-box  mode="number" [(ngModel)]="studentcode" (onChange)="studentid = null" [showClearButton]="true"> </dx-text-box>
    </div>
    <div class="col-3 col-xs-3 col-md-3 col-xl-2 col-lg-2">
        <br />
        <dx-button class="button" (onClick)="searchbtn()" [width]="100 + '%'" icon="find" type="default" text="ค้นหา">
        </dx-button>
        <!-- <dx-button class="button" (onClick)="setAnswer(2, 'ทดสอบ')" [width]="100 + '%'" icon="find" type="default" text="test">
        </dx-button> -->
    </div>
</div>
<div *ngIf="studentcode">
    <br>
    <dx-data-grid id="prgstudentinfo" #prgstudentinfo [rowAlternationEnabled]="true" [columnAutoWidth]="true" [hoverStateEnabled]="true" [showBorders]="true" [dataSource]="studentinfo" rowTemplate="rowTemplateName">
        <dxo-paging [pageSize]="1"></dxo-paging>
        <dxo-pager [showPageSizeSelector]="false" [showInfo]="false" [visible]="false"> </dxo-pager>
        <dxo-selection mode="single"></dxo-selection>
        <dxi-column caption="ข้อมูลนักศึกษา" headerCellTemplate="HeaderKeyTemplate"></dxi-column>
        <dxi-column dataField="schoolid" caption="โรงเรียน/สถาบัน" cellTemplate="cellTemplate" [visible]="false">
            <dxo-lookup [dataSource]="schoclist" valueExpr="schoolid" displayExpr="schoolshow" showClearButton="true">
            </dxo-lookup>
        </dxi-column>
        <tbody class="biodetail dx-row"  *dxTemplate="let studentinfo of 'rowTemplateName'">
            <tr class="main-row">
                <td style="width: 28%;" class="text-wrap">
                    <label style="color: #1b4461"><b>รหัส : </b>{{ studentinfo.data.studentcode }}</label>
                </td>
                <td style="width: 28%;" class="text-wrap">
                    <label style="color: #1b4461"><b>ชื่อ-นามสกุล : </b>{{ studentinfo.data.prefixname }}{{ studentinfo.data.studentname }} {{ studentinfo.data.studentsurname }}</label>
                </td>
                <td style="width: 28%;" class="text-wrap">
                    <tr>
                        <td><label style="color: #1b4461"><b>วันที่รับเข้า : </b>{{studentinfo.data.admitdateshow}}</label> </td>
                    </tr>
                </td>
            </tr>
            <tr class="main-row">
                <td style="width: 28%;" class="text-wrap">
                    <label style="color: #1b4461"><b>ศูนย์/วิทยาเขต : </b>{{ studentinfo.data.campusname }}</label>
                </td>
                <td style="width: 28%;" class="text-wrap">
                    <label style="color: #1b4461"><b>ระดับ : </b>{{ studentinfo.data.levelname }}</label>
                </td>
                <td style="width: 28%;" class="text-wrap">
                    <label style="color: #1b4461"><b>วิทยาลัย/คณะ/สถาบัน : </b>{{ studentinfo.data.facultyname }}</label>
                </td>
                <td style="width: 28%;" class="text-wrap">
                    <tr>
                        <td><label style="color: #1b4461"><b>&nbsp;วันที่จบ/พ้นสภาพ : </b>{{ studentinfo.data.finishdate }}</label></td>
                    </tr>
                </td>
            </tr>
            <tr class="main-row">
                <td class="text-wrap">
                    <label style="color: #1b4461"><b>สาขาวิชา: </b>{{ studentinfo.data.departmentname }}</label>
                </td>
                <td class="text-wrap">
                    <label style="color: #1b4461"><b>Major : </b>{{ studentinfo.data.programname }} </label>
                </td>
            </tr>
            <tr class="main-row">
                <td class="text-wrap">
                    <label style="color: #1b4461"><b>กลุ่ม : </b>{{ studentinfo.data.studentgroupabb }}</label>
                </td>
                <td class="text-wrap">
                    <label style="color: #1b4461"><b>ปีที่เข้า : </b>{{ studentinfo.data.admitacadyear }}</label>
                </td>
                <td class="text-wrap">
                    <label style="color: #1b4461"><b>ภาค : </b>{{ studentinfo.data.admitsemester }}</label> &nbsp;&nbsp;
                    <label style="color: #1b4461"><b>ชั้นปี : </b>{{ studentinfo.data.studentyear }}</label>
                </td>
                <td class="text-wrap">
                    <label style="color: #1b4461"><b>สถานะภาพ : </b>{{ studentinfo.data.studentstatusshow }}</label> &nbsp;&nbsp;
                </td>
            </tr>
            <tr class="main-row">
                <td class="text-wrap">
                    <label style="color: #1b4461"><b>ระดับวัดผล : </b>{{ studentinfo.data.acadid }}</label>
                </td>
                <td class="text-wrap">
                    <!-- <label style="color: #1b4461"><b>บัญชี คชจ : </b>{{ studentinfo.data.feegroupid }}</label> -->
                    <label style="color: #1b4461"><b>บัญชี คชจ : </b>{{ studentinfo.data.feegroupname }}</label>
                </td>
                <td class="text-wrap">
                    <label style="color: #1b4461"><b>ภาระหนี้ : </b>{{ studentinfo.data.financestatusshow }}</label> &nbsp;&nbsp;
                    <label style="color: #1b4461"><b>gpax : </b>{{ studentinfo.data.gpa }}</label>
                </td>
            </tr>
        </tbody>
        <div *dxTemplate="let info of 'HeaderKeyTemplate'">
            <div class="tableheader">ข้อมูลนักศึกษา</div>
        </div>
    </dx-data-grid>
</div>
<div class="row mt-1">
  <dx-data-grid *ngIf="storeentryconfig" #gridContainer id="gridContainer" [columnAutoWidth]="true" [hoverStateEnabled]="true" [dataSource]="storeentryconfig" [showBorders]="true" 
(onSaving)="datasave($event)" (onEditorPreparing)="onEditorPreparing($event)" [rowAlternationEnabled]="true" [hoverStateEnabled]="true"
(onEditingStart)="onEditingStart($event)" (onRowValidating)="onRowValidating($event)" [showBorders]="true" [allowColumnReordering]="true" 
(onCellPrepared)="onCellPrepared($event)" [allowColumnResizing]="true" [paging]="false">
        <!-- <dxo-paging [pageSize]="15"></dxo-paging> -->
        <dxo-pager [showPageSizeSelector]="false" [allowedPageSizes]="[10, 15, 20, 0]" [showInfo]="true"> </dxo-pager>
        <dxo-editing mode="row" [allowUpdating]="true" [allowDeleting]="false" [allowAdding]="false" [useIcons]="true">
            <dxo-popup title="บันทึกข้อมูล" [showTitle]="true" [height]="'auto'">
            </dxo-popup>
            <dxo-form>
            </dxo-form>
        </dxo-editing>
        <dxo-search-panel [visible]="true" [width]="240" placeholder="ค้นหา..."></dxo-search-panel>
        <dxo-scrolling columnRenderingMode="virtual"></dxo-scrolling>
        <dxo-selection mode="single"></dxo-selection>
        <dxi-column dataField="entryid" caption="ลำดับ" [width]="20" [allowEditing]="false"></dxi-column>
        <dxi-column dataField="entryname" caption="หัวข้อ" [width]="500" [allowEditing]="false"></dxi-column>
        <!-- <dxi-column dataField="invalue" caption="ข้อมูล" [validationRules]="validatorRules.citizenidchk" editCellTemplate="checkdata" [cellTemplate]="cellTemplate"> -->
        <dxi-column dataField="invalue" caption="ข้อมูล" [validationRules]="eachRowRules._rule" editCellTemplate="checkdata" [cellTemplate]="cellTemplate">
        </dxi-column>
        <div *dxTemplate="let cellInfo of 'checkdata'">
            <div *ngIf="cellInfo.data.updatecolumn.includes('PROVINCEID') == true || cellInfo.data.updatecolumn.includes('DISTRICT') == true || cellInfo.data.updatecolumn.includes('ADDRESS2') == true || cellInfo.data.updatecolumn.includes('SUBDISTRICT') == true || cellInfo.data.updatecolumn.includes('ZIPCODE') == true">
                <dx-select-box [dataSource]="cellInfo.data.combo" [value]="cellInfo.value" (onValueChanged)="updatedataform($event, cellInfo)"
                    displayExpr="comboshow" searchMode="StartsWith" valueExpr="comboid" [searchEnabled]="true"
                    [showClearButton]="true">
                </dx-select-box>
            </div>
            <div *ngIf="cellInfo.data.updatecolumn.includes('PROVINCEID') == false && cellInfo.data.updatecolumn.includes('DISTRICT') == false && cellInfo.data.updatecolumn.includes('SUBDISTRICT') == false && cellInfo.data.updatecolumn.includes('ADDRESS2') == false && cellInfo.data.updatecolumn.includes('ZIPCODE') == false">
                <div *ngIf="cellInfo.data.combo && cellInfo.data.combosource">
                    <dx-select-box [dataSource]="cellInfo.data.combo" [value]="cellInfo.value" (onValueChanged)="updatedataform($event, cellInfo)"
                        displayExpr="comboshow" searchMode="StartsWith" valueExpr="comboid" [searchEnabled]="true"
                        [showClearButton]="true">
                    </dx-select-box>
                </div>
                <div *ngIf="!cellInfo.data.combosource && cellInfo.data.columntype == 'T' && cellInfo.data.updatecolumn.includes('CITIZENID') == true && cellInfo.data.updatecolumn.includes('PHONE') == false">
                    <dx-text-box [(ngModel)]="cellInfo.value" (onValueChanged)="updatedataform($event, cellInfo)" [mask]="citizeneditorOptions.mask" 
                    [maskrules]="citizeneditorOptions.maskRules" [maskInvalidMessage]="maskInvalidMessage"></dx-text-box>
                </div>
                <div *ngIf="!cellInfo.data.combosource && cellInfo.data.columntype == 'T' && cellInfo.data.updatecolumn.includes('CITIZENID') == false && cellInfo.data.updatecolumn.includes('PHONE') == true">
                    <dx-text-box [(ngModel)]="cellInfo.value" (onValueChanged)="updatedataform($event, cellInfo)" [mask]="phoneeditorOptions.mask"
                    [marlrules]="phoneeditorOptions.maskRules" [maskInvalidMessage]="maskInvalidMessage"></dx-text-box>
                </div>
                <div *ngIf="!cellInfo.data.combosource && cellInfo.data.columntype == 'T' && cellInfo.data.updatecolumn.includes('CITIZENID') == false && cellInfo.data.updatecolumn.includes('PHONE') == false">
                    <dx-text-box [(ngModel)]="cellInfo.value" (onValueChanged)="updatedataform($event, cellInfo)"></dx-text-box>
                </div>
                <div *ngIf="!cellInfo.data.combosource && cellInfo.data.columntype == 'N' && cellInfo.data.updatecolumn.includes('GPA') == true">
                    <dx-text-box [(ngModel)]="cellInfo.value" mask="0.00" (onValueChanged)="updatedataform($event, cellInfo)"></dx-text-box>
                </div>
                <div *ngIf="!cellInfo.data.combosource && cellInfo.data.columntype == 'N'">
                    <dx-number-box [value]="cellInfo.value" (onValueChanged)="updatedataform($event, cellInfo)"></dx-number-box>
                </div>
                <div *ngIf="!cellInfo.data.combosource && cellInfo.data.columntype == 'D'">
                    <dx-date-box-custom [date]="cellInfo.value" (onValueChanged)="updatedataform($event, cellInfo)"></dx-date-box-custom>
                </div>
            </div>
        </div>
    </dx-data-grid>
</div>
</div>
<dx-load-panel #loadPanel shadingColor="rgba(0,0,0,0.4)" [position]="{ of: '#studentbioentry' }" [(visible)]="loadingVisible"
  [showIndicator]="true" [showPane]="true" [shading]="true" [closeOnOutsideClick]="false">
</dx-load-panel>