<div id="data-grid-demo">
    <dx-data-grid id="prgnation" [columnAutoWidth]="true" (onSaving)="dataSave($event)" (onInitNewRow)="onInsertingstart($event)" (onToolbarPreparing)="onToolbarPreparing($event)" [rowAlternationEnabled]="true" [hoverStateEnabled]="true" [showBorders]="true"
        [dataSource]="nationlist">
        <dxo-paging [pageSize]="15"></dxo-paging>
        <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[10, 15, 20, 0]" [showInfo]="true"> </dxo-pager>
        <dxo-editing mode="row" [allowUpdating]="true" [allowDeleting]="true" [allowAdding]="true" [useIcons]="true">
            <dxo-popup title="Nation Info" [showTitle]="true" [position]="{ my: 'top', at: 'top', of: 'window' }">
            </dxo-popup>
        </dxo-editing>
        <dxo-scrolling columnRenderingMode="virtual"></dxo-scrolling>
        <dxo-search-panel [visible]="true" [width]="240" placeholder="Search..."></dxo-search-panel>
        <dxo-selection mode="single"></dxo-selection>
        <dxi-column dataField="nationid" caption="*รหัส" sortOrder="asc" [width]="100">
            <dxi-validation-rule type="required" message="กรุณากรอกรหัส"></dxi-validation-rule>

        </dxi-column>
        <dxi-column dataField="nationname" caption="*ชื่อสัญชาติ (ไทย)">
            <dxi-validation-rule type="required" message="กรุณากรอกชื่อสัญชาติ (ไทย)"></dxi-validation-rule>
        </dxi-column>
        <dxi-column dataField="nationnameeng" caption="*ชื่อสัญชาติ (อังกฤษ)">
            <dxi-validation-rule type="required" message="กรุณากรอกชื่อสัญชาติ (อังกฤษ)"></dxi-validation-rule>
        </dxi-column>
        <div *dxTemplate="let data of 'tableName'">
            <div class="tablelabel">
                <span>สัญชาติ</span>
            </div>
        </div>
    </dx-data-grid>
</div>