<div class="row">
    <div style="margin: 0 auto; min-width: 500px; width: 45%">
        <div class="widget-container">
            <div class="card">
                <!-- <div class="card-header" translate>{{repname}}</div> -->
                <div class="card-header">ปรับแก้-รหัสผ่านของนักศึกษา Web</div>
                <div class="card-body">
                    <form (submit)="onFormSubmit($event)">
                        <dx-form [formData]="changepassworddata" #formRef>
                            <dxi-item itemType="group" [colCount]="8">
                                <dxi-item dataField="studentcode" editorType="dxTextBox" [colSpan]="4"
                                    [editorOptions]="{ mode:'text', inputAttr: { maxlength: 13}, onInput: onInput.bind(this) }">
                                    <!-- <dxi-item dataField="citizenid" editorType="dxTextBox" [editorOptions]="{ maxLength: 13 }"> -->
                                    <dxo-label template="รหัสนักศึกษา"></dxo-label>
                                    <dxi-validation-rule type="required"
                                        message="กรุณากรอกรหัสนักศึกษา"></dxi-validation-rule>
                                    <!-- <dxi-validation-rule type="stringLength" [min]="13" message="กรุณากรอกบัตรประชาชนให้ครบ 13 หลัก"></dxi-validation-rule> -->
                                </dxi-item>
                                <dxi-item dataField="sname" editorType="dxTextBox" [colSpan]="4"
                                    [editorOptions]="{disabled: true}">
                                    <dxo-label template="-"></dxo-label>
                                </dxi-item>
                            </dxi-item>
                            <dxi-item itemType="group" [colCount]="8">
                                <dxi-item dataField="password" editorType="dxTextBox" [colSpan]="4"
                                    [editorOptions]="{ mode: passwordMode, onInput: onPasswordChange.bind(this) }">
                                    <dxo-label template="รหัสผ่าน"></dxo-label>
                                    <dxi-validation-rule type="required"
                                        message="กรุณากรอกรหัสผ่าน"></dxi-validation-rule>
                                </dxi-item>
                                <dxi-item dataField="levelname" editorType="dxTextBox" [colSpan]="4"
                                    [editorOptions]="{disabled: true}">
                                    <dxo-label template="-"></dxo-label>
                                </dxi-item>
                            </dxi-item>
                            <dxi-item itemType="group" [colCount]="8">
                                <dxi-item dataField="confirm_password" editorType="dxTextBox" [colSpan]="4"
                                    [editorOptions]="{ mode: passwordMode, onInput: onCPasswordChange.bind(this) }">
                                    <dxo-label template="ยืนยันรหัสผ่าน"></dxo-label>
                                    <dxi-validation-rule type="required"
                                        message="กรุณากรอกรหัสผ่าน"></dxi-validation-rule>
                                    <dxi-validation-rule type="compare" [comparisonTarget]="passwordComparison"
                                        message="รหัสผ่านไม่ตรงกัน"></dxi-validation-rule>
                                </dxi-item>
                                <dxi-item dataField="programname" editorType="dxTextBox" [colSpan]="4"
                                    [editorOptions]="{disabled: true}">
                                    <dxo-label template="-"></dxo-label>
                                </dxi-item>
                            </dxi-item>
                            <dxi-item itemType="group" [colSpan]="2">
                                <dxi-item style="text-align: right;">
                                    <dx-button style="margin-right: 2%;"
                                        [icon]="passwordMode === 'password' ? 'eyeopen' : 'eyeclose'"
                                        text="แสดงรหัสผ่าน" type="danger"
                                        (onClick)="passwordMode === 'password' ? passwordMode = 'text' : passwordMode = 'password'"></dx-button>
                                    <dx-button icon="preferences" type="success" text="Process"
                                        [useSubmitBehavior]="true"></dx-button>
                                </dxi-item>
                            </dxi-item>
                        </dx-form>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>