<div id="accordion" style="padding-bottom:10px;">
    <dx-accordion #accordion [collapsible]="false" [multiple]="false" [animationDuration]="300">
        <dxi-item title="ค้นหาข้อมูลนักศึกษา">

            <div class="row" style="padding: 3px">
                <div class="col-3">
                    ประเภท
                    <dx-select-box [width]="100 + '%'" [dataSource]="schoolstatustypelist" (onItemClick)="getShowstrwhere($event)" (onSelectionChanged)="refSchool()" displayExpr="comboshow" valueExpr="comboid" [(ngModel)]="schoolstatustype" [showClearButton]="false">
                    </dx-select-box>
                </div>

                <div class="col-2">
                    ปีตรวจสอบ
                    <dx-number-box [(ngModel)]="admitacadyear" [showSpinButtons]="true" [min]="1" [max]="9999" (onValueChanged)="refSchool();">
                    </dx-number-box>
                </div>
                <!-- <div class="col-3">
                    ประเภท/ระดับ
                    <dx-select-box [width]="100 + '%'" [dataSource]="levellist" (onItemClick)="refSchool()" displayExpr="comboshow" valueExpr="comboid" [(ngModel)]="levelcode" [showClearButton]="false">
                    </dx-select-box>
                </div> -->
                <div class="col-2">
                    รอบที่
                    <dx-number-box [(ngModel)]="sequence" [showSpinButtons]="true" [min]="1" [max]="99" (onValueChanged)="refSchool();"></dx-number-box>
                </div>

                <div class="col-5">
                    สถานะตรวจสอบวุฒิ
                    <dx-select-box [width]="100 + '%'" [dataSource]="documenttatuslist" (onItemClick)="getShowstrwhere($event);" displayExpr="comboshow" valueExpr="comboid" [(ngModel)]="documentstatus" [showClearButton]="true">
                    </dx-select-box>
                </div>
                <!-- <div class="col-4">
                    อำเภอ
                    <dx-select-box [width]="100 + '%'" [dataSource]="schooldistrictlist" (onItemClick)="getShowstrwhere($event)" displayExpr="comboshow" valueExpr="comboid" [(ngModel)]="schooldistrict" [searchEnabled]="true" [showClearButton]="true">
                    </dx-select-box>
                </div> -->

            </div>
            <div class="row" style="padding: 3px">
                <div class="col-3">
                    จังหวัด
                    <dx-select-box [width]="100 + '%'" [dataSource]="schoolprovincelist" (onItemClick)="getShowstrwhere($event)" (onSelectionChanged)="refSchool();getSchooldistrict()" displayExpr="comboshow" valueExpr="comboid" [searchEnabled]="true" [(ngModel)]="schoolprovinceid"
                        [showClearButton]="true">
                    </dx-select-box>
                </div>
                <div class="col-5">
                    จาก โรงเรียน/สถาบัน
                    <dx-select-box [width]="100 + '%'" [dataSource]="schoollist" displayExpr="schoolnamesshow" valueExpr="schoolidmaster" [(ngModel)]="schoolid" [searchEnabled]="true" [showClearButton]="true">
                    </dx-select-box>
                </div>
                <div class="col-4">
                    ถึง โรงเรียน/สถาบัน
                    <dx-select-box [width]="100 + '%'" [dataSource]="schoollist" displayExpr="schoolnamesshow" valueExpr="schoolidmaster" [(ngModel)]="schoolidto" [searchEnabled]="true" [showClearButton]="true">
                    </dx-select-box>
                </div>
                <!-- <div class="col-1">
                    ปีการศึกษาที่เข้า
                    <dx-text-box [(ngModel)]="admitacadyear" [showClearButton]="true" (onValueChanged)="refstudentgroup()">
                    </dx-text-box>
                </div> -->
                <!-- <div class="col-3">
                    กลุ่มนักศึกษา
                    <dx-select-box [width]="100 + '%'" [dataSource]="studentgrouplist" (onItemClick)="getShowstrwhere($event)" displayExpr="comboshow" valueExpr="comboid" [(ngModel)]="studentgroup" [searchEnabled]="true" [showClearButton]="true">
                    </dx-select-box>
                </div> -->

            </div>
            <div class="row" style="padding: 3px">
                <div class="col-3"></div>
                <div class="col-5">
                    วิทยาลัย/คณะ/สถาบัน
                    <dx-select-box [dataSource]="faccombo" displayExpr="comboshow" valueExpr="comboid" [searchEnabled]="true" [showClearButton]="true" (onItemClick)="getShowstrwhere($event)" [(ngModel)]="facid">
                    </dx-select-box>
                </div>

                <div class="col-2">
                    รหัสนักศึกษา
                    <dx-text-box [(ngModel)]="studentcode" [showClearButton]="true" placeholder="การค้นหาบางส่วนใช้ *"></dx-text-box>
                </div>
                <!-- <div class="col-2">
                    ชื่อ
                    <dx-text-box [(ngModel)]="studentname" [showClearButton]="true" placeholder="การค้นหาบางส่วนใช้ *"></dx-text-box>
                </div>
                <div class="col-2">
                    นามสกุล
                    <dx-text-box [(ngModel)]="studentsurname" [showClearButton]="true" placeholder="การค้นหาบางส่วนใช้ *"></dx-text-box>
                </div> -->
                <div class="col-2">
                    <br>
                    <dx-button class="button" (onClick)="onSearch()" icon="find" type="default" text="ค้นหา" style="min-width: 100%;">
                    </dx-button>
                </div>
            </div>
        </dxi-item>
        <!-- <dxi-item title="รายการที่ค้นหา">
            <div class="selected-data">
                <dx-text-box [(ngModel)]="svalue"></dx-text-box>
            </div>
        </dxi-item> -->
    </dx-accordion>
</div>
<div id="datagrid">
    <!-- (onInitNewRow)="onInsertingstart($event)" -->
    <dx-data-grid id="studenttransferGrid" [dataSource]="schoolstatustitem" [showBorders]="true" [rowAlternationEnabled]="true" [hoverStateEnabled]="true" (onSaving)="dataSave($event)" (onToolbarPreparing)="onToolbarPreparing($event)" [columnAutoWidth]="true"
        (onSelectionChanged)="selectionChanged($event)">
        <dxo-paging [pageSize]="10"></dxo-paging>
        <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 15]" [showInfo]="true"> </dxo-pager>
        <dxo-editing mode="row" [allowUpdating]="true" [allowDeleting]="false" [allowAdding]="false" [useIcons]="true">
            <dxo-popup title="บันทึกย้ายสาขาวิชา" [showTitle]="true" [position]="{ my: 'top', at: 'top', of: 'window' }">
            </dxo-popup>
        </dxo-editing>

        <dxo-scrolling columnRenderingMode="virtual"></dxo-scrolling>
        <dxo-search-panel [visible]="true" [width]="200" placeholder="ค้นหา..."></dxo-search-panel>
        <!-- <dxo-filter-panel [visible]="true"></dxo-filter-panel> -->

        <dxo-selection mode="single"></dxo-selection>

        <dxi-column dataField="schoolstatusid" [visible]="false"></dxi-column>
        <dxi-column dataField="studentid" [visible]="false"></dxi-column>
        <dxi-column dataField="sequence" [visible]="false"></dxi-column>
        <dxi-column dataField="studentcode" [width]="140" caption="รหัสนักศึกษา" [allowEditing]="false" [fixed]="true"></dxi-column>
        <dxi-column dataField="prefixname" caption="คำนำหน้า" [allowEditing]="false" [fixed]="true">
        </dxi-column>
        <dxi-column dataField="studentname" caption="ชื่อ" [allowEditing]="false" [fixed]="true"></dxi-column>
        <dxi-column dataField="studentsurname" caption="นามสกุล" [allowEditing]="false" [fixed]="true"></dxi-column>
        <dxi-column dataField="studentstatus" caption="สถานภาพนักศึกษา" [allowEditing]="false">
            <dxo-lookup [dataSource]="stustatuslist" valueExpr="comboid" displayExpr="comboshow"> </dxo-lookup>
        </dxi-column>
        <dxi-column dataField="senddocstatus" caption="สถานะส่งเอกสาร" [allowEditing]="false"></dxi-column>
        <dxi-column dataField="studentgroupabb" caption="กลุ่มนักศึกษา" [allowEditing]="false"></dxi-column>
        <!-- <dxi-column dataField="levelid" caption="ระดับ" [allowEditing]="false">
            <dxo-lookup [dataSource]="levellist" valueExpr="comboid" displayExpr="comboshow">
            </dxo-lookup>
        </dxi-column> -->
        <!-- <dxi-column dataField="programname" caption="สาขาวิชา" [allowEditing]="false"></dxi-column> -->
        <dxi-column dataField="schoolname" caption="ชื่อสถาบันเดิม" [allowEditing]="false"></dxi-column>
        <dxi-column dataField="documentstatus" caption="สถานะตรวจสอบวุฒิ">
            <dxo-lookup [dataSource]="documenttatuslist" valueExpr="comboid" displayExpr="comboshow"> </dxo-lookup>
        </dxi-column>
        <dxi-column dataField="personname" caption="ชื่อ-นามสกุลเดิม"></dxi-column>


        <dxi-column dataField="senddate" [width]="110" dataType="date" caption="วันที่ส่ง" [allowEditing]="false"></dxi-column>
        <dxi-column dataField="sentnumber" caption="เลขที่ส่งหนังสือส่ง" [allowEditing]="true"></dxi-column>

        <dxi-column dataField="datereturn" [width]="110" dataType="date" caption="วันที่รับ" editCellTemplate="editdatereturn"></dxi-column>
        <dxi-column dataField="documentreturn" caption="เลขที่ส่งหนังสือรับ" ></dxi-column>

        <dxi-column dataField="remark" caption="หมายเหตุ"></dxi-column>


        <div *dxTemplate="let data of 'labelDocreturn'">
            <div class="informer">
                <span style="font-size: 14px" class="name">เลขที่ส่งหนังสือรับ</span>
                <dx-text-box [(ngModel)]="docreturn" [width]="250" [showClearButton]="true"></dx-text-box>
            </div>
        </div>
        <div *dxTemplate="let data of 'labelDatereturn'">
            <div class="informer">
                <span style="font-size: 14px" class="name">วันที่รับ</span>
                <!-- <dx-date-box [(ngModel)]="receivedate" [width]="150" [showClearButton]="true"></dx-date-box> -->
                <dx-date-box-custom [date]="datereturn" (onValueChanged)="datereturn = $event.value" [showClearButton]="true"></dx-date-box-custom>
            </div>
        </div>
        <div *dxTemplate="let data of 'labelPassstatus'">
            <div class="informer">
                <span style="font-size: 14px" class="name">ปรับสถานะตรวจสอบวุฒิ</span>
                <dx-select-box [width]="250" [dataSource]="arraystoredata" displayExpr="comboshow" valueExpr="comboid" [(ngModel)]="passstatus" [showClearButton]="true">
                </dx-select-box>
            </div>

        </div>
        <div *dxTemplate="let data of 'btnPasss'">
            <br>
            <dx-button class="button" (onClick)="updateDatagroup()" icon="selectall" type="default" text="ปรับข้อมูลเป็นชุด" style="min-width: 100%;">
            </dx-button>
        </div>
        <!-- <div *dxTemplate="let data of 'btntransfer'">
            <br>
            <dx-button class="button" (onClick)="ontransfer()" icon="preferences" type="success" text="ย้ายรอบตรวจสอบ" style="min-width: 100%;" [disabled]="schoolstatustitem.length == 0">
            </dx-button>
        </div> -->

        <div *dxTemplate="let cellInfo of 'editdatereturn'">
            <dx-date-box-custom [date]="cellInfo.value" (onValueChanged)="updatedatafrom($event, cellInfo)"></dx-date-box-custom>
        </div>

    </dx-data-grid>
    <!-- <div style="width:100%;padding-top: 5px;padding-bottom: 5px;">
        <dx-data-grid id="documentgrid" [columnAutoWidth]="true" [dataSource]="documentlist" allowColumnResizing="true">
            <dxo-paging [pageSize]="10"></dxo-paging>
            <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[10, 15, 20]" [showInfo]="true" [visible]="false"> </dxo-pager>
            <dxo-editing mode="popup" [allowUpdating]="false" [allowDeleting]="false" [allowAdding]="false" [useIcons]="false">
                <dxo-popup title="" [position]="{ my: 'top', at: 'top', of: 'window' }">
                </dxo-popup>
            </dxo-editing>
            <dxo-scrolling columnRenderingMode="virtual"></dxo-scrolling>
            <dxo-selection mode="single"></dxo-selection>
            <dxi-column dataField="applicantid" [visible]="false"></dxi-column>
            <dxi-column dataField="docname" caption="เอกสาร" [fixed]="true"></dxi-column>
            <dxi-column [width]="50" [allowFiltering]="false" [allowSorting]="false" cellTemplate="cellTemplate"></dxi-column>
            <div *dxTemplate="let data of 'cellTemplate'">
                <dx-button class="button" (onClick)="Download(data.data)" icon="download" type="default"></dx-button>
            </div>
        </dx-data-grid>
    </div> -->
</div>
<!-- <dx-popup [width]="20 + '%'" [height]="'auto'" [showTitle]="true" title="ย้ายรอบข้อมูลตรวจสอบ" [dragEnabled]="false" [closeOnOutsideClick]="true" [(visible)]="popupVisible">
    <div class="col-12">
        ย้ายจากสถานะตรวจสอบวุฒิ
        <dx-select-box [dataSource]="documenttatuslist" displayExpr="comboshow" searchMode="StartsWith" valueExpr="comboid" [searchEnabled]="true" [showClearButton]="false" [(ngModel)]="documentstatuscopy"> </dx-select-box>
    </div>
    <div class="col-12">
        ย้ายไปรอบที่
        <dx-number-box [(ngModel)]="sequencecopy" [showSpinButtons]="true" [min]="1" [max]="99" ></dx-number-box>
    </div>
    <br>
    <dx-button class="button" (onClick)="processtransfer()" text="ทำรายการ" icon="todo" type="success" stylingMode="outlined" [disabled]="!sequencecopy">
    </dx-button>
</dx-popup> -->

<dx-load-panel #loadPanel shadingColor="rgba(0,0,0,0.4)" [(visible)]="load" [showIndicator]="true" [showPane]="true" [shading]="true" [closeOnOutsideClick]="false">
</dx-load-panel>